.backdropL {
  background-color: black;
  opacity: 1; /* начальная прозрачность - полностью видимый */
  animation: fadeOut 2s ease 2s forwards; /* анимация: название, продолжительность, функция сглаживания, задержка, и заполнение */
}

@keyframes fadeOut {
  0% {
    opacity: 1; /* начало анимации - полностью видимый */
  }
  100% {
    display: none;
    opacity: 0; /* конец анимации - полностью прозрачный */
  }
}
